*.swp
.deps
.libs
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
*.lo
*.la
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules/
run-tests.php
php_test_results_*.txt
tmp-php.ini
/tests/*.php
/tests/*.log
/tests/*.exp
/tests/*.out
/tests/*.diff
/tests/config.inc
