Source: php5-cassandra
Priority: extra
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libthrift-dev, uuid-dev
Standards-Version: 3.8.4
Section: php
Homepage: https://github.com/Gasol/pdo_cassandra
Vcs-Git: git://github.com/Gasol/pdo_cassandra.git
Vcs-Browser: https://github.com/Gasol/pdo_cassandra

Package: php5-cassandra
Section: php
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cassandra Driver for PDO
 This extension provides a CQL interface for PDO drivers.
